:root {
    --primary-color: #B20101;
    --secondary-color: #273E47;
    --accent1-color: #D8973C;
    --accent2-color: White;

    --heading-font: 'bebas neue';
    --paragraph-font: poppins, Verdana, Geneva, Tahoma, sans-serif;

    --headline-color-on-white: #273E47;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #273E47;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: #273E47;
    --nav-link-color: White;
    --nav-background-color: #B20101;
    --nav-hover-link-color: #B20101;
    --nav-hover-background-color: white;

}



body {
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}



h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white)
}


hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);

}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-background-color);
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

ol {
    display: inline-block;
    text-align: left;
}