@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';
}

/* These have to have maximum width of 640 pix, centered, faint border and appropriate padding, blueish background color  */
header,
main,
footer {
    max-width: 640 px;
    margin: 1rem auto;
    background-color: #AABBEE;
    padding: 1rem;
    border: 1px solid #bbb;
}

/* ------------------------------------------------------------------------------------- */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    background-color: white;
    padding: 3%;
}