body {
    font-family: 'poppins', verdana, Tahoma;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue';
}

:root {
    --primary-color: #b20101;
    --secondary-color: #273e47;
    --accent1-color: #D8973C;
    --accent2-color: white;

    --navigation-and-footer: var(--primary-color);
    --nav-text-color: var(--accent2-color);
    --text-body-color: var(--secondary-color);

    --hover-nav-text: var(--primary-color);
    --hover-nav-bg: var(--accent2-color);

}

.navigation {
    text-align: center;
    background-color: var(--navigation-and-footer);
    color: var(--nav-text-color);
}

#hero {
    display: block;
}

main {
    display: block;
    text-align: center;
}


#menu::before {
    content: '≡';
    color: var(--accent2-color);
    background-color: var(--navigation-and-footer);
    outline: 0;
    font-size: 2rem;
    display: block;
}

#menu {
    background-color: var(--primary-color);
    border: none;
}

.menu-container {
    text-align: right;
    background-color: var(--primary-color);
}

#menu.open::before {
    content: '✕';
}

#calgary-image {
    width: 70%;
}

#hero-img {
    width: 100%;
}

#calgary-img {
    width: 100%;
}

button {
    background-color: var(--accent1-color);
    padding: 1rem;
    border-radius: 10%;
    color: black;
    cursor: pointer;

}

#hero-text {
    text-align: center;
    vertical-align: center;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    display: none;
    padding: 10px;
}

.open a {
    display: block;
}

footer {
    display: block;
    background-color: var(--navigation-and-footer);
    color: var(--nav-text-color);
    padding: 5px;
}



nav a.active {
    color: var(--hover-nav-text);
    background-color: rgba(255, 255, 255, 0.8);
}

nav a:hover {
    color: var(--hover-nav-text);
    background-color: var(--hover-nav-bg);
}

#logo-box:hover {
    background-color: var(--primary-color);
}

#logo-box {
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
}

#logo-link {
    color: white;
}

.logo {
    width: 150px;
    height: auto;
}

.discovery-main {
    display: block;
}

.calgary-image-discovery {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.calgary-images {
    margin: 20px;
    position: relative;
}

.calgary-images p {
    position: absolute;
    bottom: 15%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

.title-box {
    width: 100%;
}

.side-info {
    border: 1px solid rgb(185, 185, 185);
    margin: 10px;
}

/* Form wepage --------------------- */

.memberships {
    border: 2px solid black;
    border-radius: 5px;
    margin: 25px;
    text-align: left;
}

.memberships>h3 {
    text-align: center;
}

.initial {
    font-weight: bold;
}

#np-m {
    background-color: rgb(147, 199, 147);
}

#bronze-m {
    background-color: #d89f70;
}

#silver-m {
    background-color: rgb(199, 199, 199);
}

#gold-m {
    background-color: rgb(236, 236, 153);
}

li {
    margin: 15px;
}

form {
    text-align: left;
    margin: 15px;
}

label {
    display: block;
    margin: 20px;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    display: block;
    width: 85%;
    border: none;
    background-color: rgb(240, 235, 235);
    border-radius: 5px;
}

#description {
    width: 85%;
    padding: 10px;
}

input {
    padding: 10px;
}

fieldset {
    border-radius: 5px;
    margin: 15px;
}

#membership {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: -10px;
}

input[type='submit'] {
    margin-left: 50px;
    border: none;
    background-image: linear-gradient(var(--accent1-color), rgb(255, 255, 0));
    width: 10em;
    cursor: pointer;
}

input:required {
    border-left: 5px solid red;
}

input:required:valid {
    border-left: 5px solid rgb(1, 163, 1);
}

#position:invalid {
    background-color: #f78b8b;
}

input[type='radio'] {
    margin-right: 6px;
}

/* Chamber Directory */

#buttons-container {
    background-color: #8f0101;
    padding: 10px;
    margin-top: -4px;

}

#buttons-container button {
    background-color: rgba(255, 255, 255, 0.5);
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    align-items: center;
    margin: 20px;
}

.grid section {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.list section img {
    display: none;
}

.list section>* {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

/* Current Weather and weather forecast */

.miniWeatherCard {
    border: 1px solid black;
    width: 25%;
    margin: 5px;
    border-radius: 10px;
}

#minicards-forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forecast-button {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 0px;
    background-color: rgba(98, 98, 98, 0.5);
    border: none;
}

.forecast-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#left-button {
    margin-right: -15px;
}

#right-button {
    margin-left: -15px;
}

.company-ad>* {
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

.company-ad {
    margin-top: 50px;
}


.image-box {
    margin: auto;
}

section:nth-child(1) {
    margin: 20px;
}

#event-banner[open] {
    translate: 0 0;
}

#event-banner {
    transition: translate 0.7s ease-out, overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
    translate: 0 100vh;

    text-align: center;
    font-size: 1.5rem;
    padding: 50px;
    border: 10px solid var(--primary-color);
}

@starting-style {
    #event-banner[open] {
        translate: 0 100vh;
    }
}

#banner-exit {
    background-color: white;
    border: 10px solid var(--primary-color);
    border-radius: 30%;
    font-size: 1rem;
    margin-right: 0;

}