* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --secondary-color: #35605a;
    --accent1-color: #02643e;
    --accent2-color: white;
    --accent3-color: black;

    --general-background: var(--primary-color);
    --header-and-footer-bg: var(--accent1-color);
    --nav-bg: var(--secondary-color);

    --text-over-color: var(--accent2-color);
    --text-over-white: var(--accent1-color);

    --hover-bg: var(--accent2-color);
    --hover-txt: var(--accent3-color);
    --hover-txt-card: var(--accent3-color);
    --card-bg: var(--accent2-color);

    --border-box: var(--accent1-color);

}

body {
    background-color: var(--general-background);
    font-family: 'Manrope', Verdana;
    font-weight: 800;
}

#dm-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: auto;
    cursor: pointer;
}

header {
    background-color: var(--header-and-footer-bg);
    color: var(--text-over-color);
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
}


#profile-picture {

    height: auto;
    max-width: 9em;
    margin-right: 10px;

}

.navigation a {
    background-color: var(--nav-bg);
    padding: 1rem;
    text-align: center;
    display: none;
}

.open a {
    display: block;
}


nav a:hover {
    background-color: var(--hover-bg);
    color: var(--hover-txt);
}

#menu::before {
    content: '≡';
    color: var(--text-over-color);
    background-color: var(--nav-bg);
    outline: 0;
    font-size: 2rem;
    display: block;
}

#menu.open::before {
    content: '✕';
}

.menu-color {
    background-color: var(--nav-bg);
}

.card {
    background-color: var(--card-bg);
    color: var(--text-over-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    margin: 5px;
    border: 1px solid var(--border-box);
    border-radius: 3%;
}

a {
    color: var(--text-over-color);
    text-decoration: none;
}

main {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 1rem;
    margin-bottom: 15px;
}



h1 {
    color: var(--text-over-white);
    font-weight: 200;
}

h2 {
    color: var(--text-over-white);

}

footer {
    background-color: var(--header-and-footer-bg);
    color: var(--text-over-color);
    padding: 1rem;
    text-align: center;
}

ul>li>a {
    color: var(--text-over-white);
    margin: 5px;
}

ul>li>a:hover {
    color: var(--hover-txt-card);
}


.hero {
    position: relative;
}

.hero picture {
    width: 100%;
}

.hero picture img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-label {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5%;
}

.map {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

iframe {
    width: 75%;
}

li {
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card>p:nth-child(2) {
    margin-top: 15px;
}

.card>p:nth-child(4) {
    margin-bottom: 15px;
}

.card>div {
    display: inline-flex;
}

.card>div>p {
    margin-top: 15px;
}