* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Black                 00120b */
/* greenish gray         35605a */
/* bluish gray           6b818c */
/* lavender (light blue) d8e4ff */

body {
    background-color: #354e5a;
    font-family: 'Manrope', Verdana;
    font-weight: 800;
}

header {
    background-color: #00120b;
    color: #d8e4ff;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


img {

    height: auto;
    max-width: 9em;
    margin-right: 10px;

}

nav a {
    background-color: #35605a;
    padding: 1rem;
    text-align: center;
    display: block;
}

nav a:hover {
    background-color: white;
    color: #35605a;
}

.card {
    background-color: white;
    color: #00120b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    margin: 5px;
    border: 1px solid #00120b;
    border-radius: 3%;
}

a {
    color: White;
    text-decoration: none;
}

main {
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 1rem;
}



h1 {
    color: #d8e4ff;
    font-weight: 200;
}

h2 {
    color: #00120b;

}

footer {
    background-color: #00120b;
    color: white;
    padding: 1rem;
    text-align: center;
}