@media screen and (min-width: 550px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li {
        font-size: 1.25em;
        display: block;
        padding: 22px;
    }

    #menu {
        display: none;
    }

    .header-container {
        display: none;
    }

    .navigation {
        margin: 0;
        width: 100%;
    }

    nav ul li a {
        padding: 20px;
        display: inline;
    }
}