@media screen and (min-width: 550px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li {
        padding: 2%;
        font-size: 1.25em;
        display: block;
    }

    #menu {
        display: none;
    }


}