:root {
    --main-color: #35605a;
    --secondary-color: white;
    --text-over-color: var(--secondary-color);
    --text-over-white: var(--main-color)
}


body {
    font-family: 'Manrope', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

.active {
    background-color: rgba(225, 225, 225, 0.2);
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input {
    display: block;
    padding: 9px;
    border-radius: 5px;
    height: 25px;
    width: 90%;
    max-width: 300px;
}

fieldset {
    margin: 2%;
    border-radius: 7px;
}

input[type="submit"] {
    margin-left: 2%;
    margin-bottom: 2%;
    padding: 0.8rem;
    height: auto;
    width: 96%;
}

.wf1 input[name="password"]:valid {
    background-color: rgb(185, 225, 185);
}

.wf1 input[name="password"]:invalid {
    background-color: rgb(225, 194, 185);
}

nav a {
    text-decoration: none;
    color: var(--text-over-color);
}

nav ul :hover {
    background-color: var(--secondary-color);

    a {
        color: var(--main-color);
    }
}

nav,
footer {
    background-color: var(--main-color);
    color: var(--text-over-color);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: block;
    text-align: center;
    padding: 10px;
    margin-left: -40px;
    display: none;
}

footer {
    padding: 1%;
}

#rangevalues {
    display: flex;
    width: 90%;
    max-width: 326px;
    margin: 0 0 0 10px;
}

#rangevalues option {
    flex: 1 1 auto;
}

#rangelabel {
    position: relative;
}

#rangevalue {
    position: absolute;
    top: 0;
    left: 100px;
    font-size: 1.2em;
}

#menu::before {
    content: '≡';
    color: var(--text-over-color);
    background-color: var(--main-color);
    outline: 0;
    font-size: 2rem;
    display: block;
}

#menu.open::before {
    content: '✕';
}

.menu-color {
    background-color: var(--main-color);
    position: relative;
    width: 100%;

}

#menu {
    position: absolute;
    right: 30px;
    top: -23px;
    border: none;
    background-color: var(--main-color);
    border-radius: 3px;
}

.open li {
    display: block;
}

p {
    text-align: center;
}

.header-container {
    background-color: var(--main-color);
    padding: 25px;
    width: 100%;
    margin-bottom: -16px;
}