@media screen and (min-width: 550px) {

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-grow: 1;
    }

    .hero-label {
        font-size: 2rem;
    }

    .navigation a {
        display: block;
    }

    #menu {
        display: none;
    }

    nav a {
        flex-grow: 1;
        width: 100%;
        text-align: center;
    }

    main {
        display: grid;
        grid-template: 1fr 2fr / 2fr 1fr
    }

    h1 {
        grid-area: 1/1/2/4;
    }

    main:nth-child(2) {
        grid-area: 2/1/3/2;
    }

    main:nth-child(3) {
        grid-area: 2/2/3/3;
    }

}